[Unit]
Description=F5-TTS Python Service
After=network.target

[Service]
Type=simple
User=mellowcake
WorkingDirectory=/home/mellowcake/Code/mellowcake-ai/tts_service
ExecStart=/home/mellowcake/Code/mellowcake-ai/tts_service/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
